
.chat-container {
    padding: 20px;
    background-color: var(--cor-card-fundo, #2b4440);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}

.area-mensagens-chat {
    height: 400px;
    overflow-y: auto; 
    background-color: transparent;
    border-radius: 8px;
    padding: 20px; 
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formulario-chat {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
}

.input-mensagem {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid var(--cor-borda, #7c8484);
    border-radius: 20px;
    background-color: var(--cor-fundo-corpo, #1a322e);
    color: var(--cor-texto-claro, #f0f0f0);
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-mensagem:focus {
    outline: none;
     border-color: var(--cor-destaque);
}

.botao-enviar {
    padding: 12px 25px;
    background-color: var(--cor-destaque, #cbbb7c); 
    color: var(--cor-texto-principal, #0c2319); 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.botao-enviar:hover {
    background-color: #a39660; 
}

.botao-enviar:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}