.home-container {
    padding: 20px;
}

.welcome-message {
    font-size: 1.1em;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--cor-borda);
    padding-bottom: 20px;
    color: var(--cor-texto-claro);
}

.alert-box {
    background-color: #482c3a;
    color: #ff6b6b;
    border: 1px solid #ff4d4d;
    padding: 15px;
    border-radius: 6px;
    font-weight: 500;
    box-shadow: 0 2px 5px var(--cor-sombra);
}

.status-box {
    background-color: #243a5a;
    color: #48b9e8;
    border: 1px solid #297bce;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px var(--cor-sombra);
}

.error-message {
    color: #ff4d4d;
    font-weight: bold;
    margin: 10px 0;
}
